<!DOCTYPE html>
<html lang="en">

<head>
  <title>error | mpc-scales</title>
  <%- include('./global/stylesheets'); %> <%- include('./global/scripts'); %>
      <header class="header">
        <%- include('./partials/navbar'); %>
          <h1 onclick="location.href='/'" style="cursor: pointer">error</h1>
      </header>
</head>

<body>
  <p>
    <%= error %>
  </p>
</body>
<%- include('./partials/footer'); %>
  <html>

  </html>

</html>